{:paths ["src"]
 :deps {org.clojure/core.async {:mvn/version "1.3.610"}
        mistakes-were-made/mistakes-were-made {:mvn/version "1.8.0"}
        html-soup/html-soup {:mvn/version "1.6.1"}
        eval-soup/eval-soup {:mvn/version "1.5.0"}
        cross-parinfer/cross-parinfer {:mvn/version "1.5.0"}
        cljsjs/rangy-core {:mvn/version "1.3.0-1"}
        cljsjs/rangy-textrange {:mvn/version "1.3.0-1"}}
 :aliases {:cljs {:extra-deps {org.clojure/clojurescript {:mvn/version "1.10.764"}}}
           :dev {:extra-deps {com.bhauman/figwheel-main {:mvn/version "0.2.11"}}
                 :extra-paths ["resources"]
                 :main-opts ["dev.clj"]}
           :prod {:extra-deps {leiningen/leiningen {:mvn/version "2.9.0"}}
                  :main-opts ["prod.clj"]}}}
