/* workaround for refresh issues in webkit-based browsers */
@-webkit-keyframes androidBugfix {from { padding: 0; } to { padding: 0; }}
body { -webkit-animation: androidBugfix infinite 1s; }
/* end workaround */

html, body {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    font-family: monospace;
}

.symbol {
	color: black;
}

.list {
	color: gray;
}

.vector {
	color: orange;
}

.map {
	color: green;
}

.set {
	color: red;
}