/* workaround for refresh issues in webkit-based browsers */
@-webkit-keyframes androidBugfix {from { padding: 0; } to { padding: 0; }}
body { -webkit-animation: androidBugfix infinite 1s; }
/* end workaround */

html, body, pre {
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
	font-size: 16px;
	color: gray;
}

.symbol {
	color: black;
}

.number {
	color: yellow;
}

.string {
	color: red;
}

.keyword {
	color: blue;
}

.nil {
	color: lightblue;
}

.boolean {
	color: lightblue;
}

.error {
	color: red;
}
