.paren-soup {
	padding: 0px;
	margin: 0px;
	font-size: 16px;
	color: gray;
}

.paren-soup .symbol {
	color: black;
}

.paren-soup .number {
	color: yellow;
}

.paren-soup .string {
	color: red;
}

.paren-soup .keyword {
	color: blue;
}

.paren-soup .nil {
	color: lightblue;
}

.paren-soup .boolean {
	color: lightblue;
}

.paren-soup .error {
	color: red;
}