.paren-soup {
	font-size: 16px;
	font-family: monospace;
	color: lightgray;
	background-color: #293134;
}

.paren-soup-gutter {
	float: left;
	padding: 0px 5px;
	border-right: 1px solid lightgray;
	text-align: right;
}

.paren-soup-content {
	margin: 0px;
	padding: 0px 5px;
	display: inline-block;
	outline: 0px solid transparent;
}

.paren-soup-content .symbol {
	color: white;
}

.paren-soup-content .number {
	color: gold;
}

.paren-soup-content .string {
	color: darksalmon;
}

.paren-soup-content .keyword {
	color: dodgerblue;
}

.paren-soup-content .nil {
	color: lightblue;
}

.paren-soup-content .boolean {
	color: lightblue;
}

.paren-soup-content .error {
	color: red;
}