.paren-soup {
	font-size: 16px;
	font-family: monospace;
	color: lightgray;
	background-color: #293134;
}

.paren-soup-instarepl {
	float: left;
	padding: 0px 5px;
	text-align: right;
	width: 200px;
}

.paren-soup-instarepl-item {
	position: relative;
	overflow: scroll;
	background-color: darkgreen;
}

.paren-soup-numbers {
	float: left;
	padding: 0px 5px;
	text-align: right;
}

.paren-soup-content {
	margin: 0px;
	padding: 0px 5px;
	display: inline-block;
	outline: 0px solid transparent;
}

.paren-soup-content .symbol {
	color: white;
}

.paren-soup-content .number {
	color: gold;
}

.paren-soup-content .string {
	color: darksalmon;
}

.paren-soup-content .keyword {
	color: dodgerblue;
}

.paren-soup-content .nil {
	color: lightblue;
}

.paren-soup-content .boolean {
	color: lightblue;
}

.paren-soup-content .error {
	color: red;
}